
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section footer {
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
}

<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="home_banner_area mb-40">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="col-lg-12">
                    <p class="sub text-uppercase">men Collection</p>
                    <h3><span>Tuan</span> <span>Anh</span></h3>
                    <h4>Fowl saw dry which a above together place.</h4>
                    <a class="main_btn mt-40" href="#">View Collection</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!--================ End Feature Product Area =================-->
<!--================ Offer Area =================-->
<section class="offer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="offset-lg-4 col-lg-6 text-center">
                <div class="offer_content">
                    <h3 class="text-uppercase mb-40">all men’s collection</h3>
                    <h2 class="text-uppercase">50% off</h2>
                    <a href="#" class="main_btn mb-20 mt-5">Discover Now</a>
                    <p>Limited Time Offer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Offer Area =================-->
<!--================ New Product Area =================-->
<section class="new_Product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>new Products</span></h2>
                    <p>Bring called seed first of third give itself now ment</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="new_Product">
                    <h5 class="text-uppercase">Best of 2022</h5>
                    <h3 class="text-uppercase">Men’s summer t-shirt</h3>
                    <div class="Product-img">
                        <img class="img-fluid" src="Public/images/Product/new-product/new-product1.png" alt="" />
                    </div>
                    <h4>500.000 VND</h4>
                    <a href="#" class="main_btn">Add to cart</a>
                </div>
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" src="Public/images/product/new-product/n1.jpg" alt="" />
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-btm">
                                <a href="#" class="d-block">
                                    <h4>Giày nữ</h4>
                                </a>
                                <div class="mt-3">
                                    <span class="mr-4">100.000 VND</span>
                                    <del>150.000 VND</del>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" src="Public/images/product/new-product/n2.jpg" alt="" />
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-btm">
                                <a href="#" class="d-block">
                                    <h4>Đồng hồ đeo tay</h4>
                                </a>
                                <div class="mt-3">
                                    <span class="mr-4">200.000 VND</span>
                                    <del>300.000 VND</del>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" src="Public/images/product/new-product/n3.jpg" alt="" />
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-btm">
                                <a href="#" class="d-block">
                                    <h4>Quần jeans</h4>
                                </a>
                                <div class="mt-3">
                                    <span class="mr-4">150.000 VND</span>
                                    <del>250,000 VND</del>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="single-product">
                            <div class="product-img">
                                <img class="img-fluid w-100" src="Public/images/product/new-product/n4.jpg" alt="" />
                                <div class="p_icon">
                                    <a href="#">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-heart"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-btm">
                                <a href="#" class="d-block">
                                    <h4>Giày nam</h4>
                                </a>
                                <div class="mt-3">
                                    <span class="mr-4">200.000 VND</span>
                                    <del>300.000 VND</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End New Product Area =================-->
<!--================ Inspired Product Area =================-->
<section class="inspired_product_area section_gap_bottom_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>Inspired products</span></h2>
                    <p>Bring called seed first of third give itself now ment</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img class="img-fluid w-100" src="Public/images/product/inspired-product/i1.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Túi xách nữ</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">500.00 VND</span>
                            <del>650.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/Product/inspired-product/i2.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Quần jeans nữ</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">200.000 VND</span>
                            <del>150.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/product/inspired-product/i3.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Đồng hồ đeo tay</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">200.000 VND</span>
                            <del>300.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/product/inspired-product/i4.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Giày 1</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">800.000 VND</span>
                            <del>1.000.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/product/inspired-product/i5.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Đồng hồ đeo tay</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">200.000 VND</span>
                            <del>300.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/Product/inspired-product/i6.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Giày nữ</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">100.00 VND</span>
                            <del>150.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/Product/inspired-product/i7.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Túi xách nữ 2</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">400.000 VND</span>
                            <del>600.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-Product">
                    <div class="Product-img">
                        <img class="img-fluid w-100" src="Public/images/Product/inspired-product/i8.jpg" alt="" />
                        <div class="p_icon">
                            <a href="#">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="Product-btm">
                        <a href="#" class="d-block">
                            <h4>Giày thể thao</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">300.000 VND</span>
                            <del>450.000 VND</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<