/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[Slug]
      ,[ParentID]
      ,[Orders]
      ,[Metaky]
      ,[Metadesc]
      ,[Created_By]
      ,[Created_At]
      ,[Updated_By]
      ,[Updated_At]
      ,[Status]
  FROM [ShopOnline].[dbo].[Categorys]