/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[CatID]
      ,[Name]
      ,[Slug]
      ,[Detail]
      ,[Metakey]
      ,[Metadesc]
      ,[Img]
      ,[Number]
      ,[Price]
      ,[Pricesale]
      ,[Created_By]
      ,[Created_At]
      ,[Updated_By]
      ,[Updated_At]
      ,[Status]
  FROM [ShopOnline].[dbo].[Products]